[submodule "anthony_nakhle"]
	path = anthony_nakhle
	url = https://github.com/anthonynakhlee/AnthonyNakhleFinalProject
[submodule "mitza_haddad"]
	path = mitza_haddad
	url = https://github.com/mitza24/final-project.git
[submodule "ahmad_khoja"]
	path = ahmad_khoja
	url = https://github.com/ahmadkhoja/advnaced-final-chat.git
[submodule "amr_gharz"]
	path = amr_gharz
	url = https://github.com/amrgharz/react-final-project.git
[submodule "jad_azar"]
	path = jad_azar
	url = https://github.com/jadcoding/project.git
[submodule "nagham_ramadan"]
	path = nagham_ramadan
	url = https://github.com/Nagham123/Babysitter-chatapp.git
[submodule "saleh_saadi"]
	path = saleh_saadi
	url = https://github.com/saadi91/final-project
[submodule "anas_jamous"]
	path = anas_jamous
	url = https://github.com/AnasJamous/final-meet-up-project
[submodule "souad_ali"]
	path = souad_ali
	url = https://github.com/SouadAli10/Final_Project
[submodule "hampig_mazakian"]
	path = hampig_mazakian
	url = https://github.com/hm521/Nadros-final-project
[submodule "fadi_moubassaleh"]
	path = fadi_moubassaleh
	url = https://github.com/fadimoubassaleh/ScoreXfinalProject
[submodule "ali_osseily"]
	path = ali_osseily
	url = https://github.com/Aliosseily/final-project-blood
